body{
    background:rgb(212, 235, 245);
    margin-left:200px;
    margin-right:200px;
}
header{
    margin-top: 70px;
}
h1
{
    color: cadetblue;
    font-family:fantasy;
}
h2{
    font-family:fantasy;
}
p{
    font-size:18px;
}
.img_padrao{
    margin-bottom: 20px;

}
.logo{
    width: 20px;
}
footer{
    margin-bottom: 30px;
}